input {
    width: 80%;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #7b7b7e;
}

input:disabled {
    background-color: #f6f6f6;
    color: #7b7b7e;
    border: solid 1px #c4c4c6;
}

.btn:disabled {
    background-color: #fff199;
    color: #aab0b9;
}

.disabled-font {
    color: #b7b7b9;
}

.input-invalid {
    border: solid 1px red;

}

.invalid-feedback {
    color: red;

}

input:focus {
    outline: none;
}

.title-center {
    text-align: center;
}

.form-width {
    width: 50%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    position: relative;
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%;
}

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.mt-3 {
    margin-top: 1rem;
}

label {
    font-weight: 600;
    margin-bottom: 8px;
}

.gap-1 {
    gap: 4rem;
}

.btn {
    margin-top: 50px;
    background-color: #f9de4b;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

.btn-re {
    margin-top: 50px;
    background-color: #e9ecf3;
    color: #334574;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}